@page
@using Infrastructure.Services
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (!User.IsInRole(StaticDetails.AdminRole) || !User.IsInRole(StaticDetails.UserRole))
    {
        <div>
            You have accessed the Johari Window application.You are currently not signed in. If you have been invited by a client, be sure to user the link provided in the email. If you are a client or admin, <a id="login" asp-area="Identity" asp-page="/Account/Login">login here</a>
        </div>
    }

</div>
