@page "/"

<div class="text-end">
    <span class="fa-stack fa-2x text-success">
        <i class="fa-solid fa-plus fa-stack-1x"></i>
        <i class="fa-regular fa-circle fa-stack-2x"></i>
    </span>

</div>

 