@page
@model JohariWindow.Pages.Client.InviteModel
@{
}
<div class="container">
    <div class="row">
        <h2 class="border-bottom">Invite Friends/Family</h2>
        <div class="col-12">
            Invite friends and family to say which traits they see in you. This will help fill out your Johari Window and analyze the results about the types of 
            self you have.
        </div>
        <div class="col-12" id="emailList">
            <input type="email" name="emails[0]" />
            <br/>
        </div>
        <div class="col-12">
            <button type="button" id="addEmail" class="btn btn-outline-success">Add Email</button>
        </div>
    </div>
</div>