@page
@model JohariWindow.Pages.Client.InviteModel
@{
}
<form method="post" asp-action="Index">
    <div class="container">
        <div class="row">
            <h2 class="border-bottom">Invite Friends/Family</h2>
            <div class="col-12">
                Invite friends and family to say which traits they see in you. This will help fill out your Johari Window and analyze the results about the types of
                self you have.
            </div>
        </div>
        <div id="emailList">
            <div class="form-group row my-2 emailRow">
                <div class="col-auto">
                    <label>Email</label>
                </div>
                <div class="col-5">
                    <input type="email" required class="inviteEmail form-control" name="emails[0]" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" id="addEmail" class="btn btn-outline-primary">Add Email</button>
                <button type="submit" class="btn btn-outline-success">Send Invite(s)</button>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <script src="~/js/invite.js"></script>
}
