@page
@model JohariWindow.Pages.Client.ResponseSubmittedModel
@{
}

<div class="container">
    <h1>Response Submitted</h1>
    <div class="row">
        <div class="col-12 text-center">
            You have already submitted a response. If you have not sent an invite to friends, <a asp-page="/Client/Invite" asp-route-clientID="1">go here to help finalize your results.</a> 
        </div>
    </div>
</div>