@page
@{ 
    ViewData["Title"] = "Thanks";
}
<div class="container">
    <h2>Thank You!</h2>
    <div class="row">
        <div class="col-12">
            Your response has been submitted successfully.
        </div>
    </div>
</div>