@page
@model JohariWindow.Pages.Admin.WindowModel
@{
}
<div class="container">
    <div class="row mb-4">
        <h2>Johari Window for FirstName LastName</h2>
    </div>
    <div class="row">
        <div class="col-6 border m-0 " style="height: 100px;">
            <h4 class="text-center">Open Self</h4>
        </div>
        <div class="col-6 border m-0" style="height: 100px;">
            <h4 class="text-center">Blind Self</h4>
        </div>
        <div class="col-6 border m-0" style="height: 100px;">
            <h4 class="text-center">Hidden Self</h4>
        </div>
        <div class="col-6 border m-0" style="height: 100px;">
            <h4 class="text-center">Unknown Self</h4>
        </div>
    </div>
</div>